/* purchase building button */
#building_purchase {
position: fixed;
width: 3.4vw;
font-size: 0.85vw;
}

/* Building Cost Text */
#building_cost_text {
position: fixed;
top: 11.3vw;
left: 11vw;
}

/* "CPS:" in the building menus */
#CPS_words {
position: absolute;
top: 11.5vw;
right: 69vw;
}

/* Total buildings (bottom left) */
#totalbuildings {
position: fixed;
bottom: 0.5vw;
left: 0.5vw;
color: #ff4747;
font-size: 0.75vw;
}

/* Reputation Building Totals (GD1, VS2, OT3) */
#RepBuildings1 {
position: fixed;
left: 53.7vw;
top: 14.7vw;
color: #9a9a9c;
font-size: 0.75vw;
}

/* Reputation Building Totals (ET4, HC5, MSA6) */
#RepBuildings2 {
position: fixed;
left: 65vw;
top: 18.5vw;
color: #9a9a9c;
font-size: 0.75vw;
}

/* Reputation Building Information */
#RepBuildings3 {
position: fixed;
left: 74.5vw;
top: 19.3vw;
}

/* Buy Upgrades Buttons */
#purchaseUpgrade {
position: absolute;
width: 12vw;
height: 1.5vw;
text-align: center;
font-size:1vw;
right:34vw;
top:4.5vw;
font-family: 'Times New Roman', serif;
}

/* Buy Upgrades Text */
#purchaseUpgrade_text {
position: fixed;
}

/* Save Button */
#settings_button {
width: 5vw;
height: 5vw;
bottom: -2vw;
right: 0.5vw;
position: fixed;
}

.Bricks_bar {
position: fixed;
left: 42.9vw;
bottom: 44%;
width: 10vw;
height: 2vw;
background-color: #ff4747;
color: #1e1e1e;
visibility: hidden;
}

#Bricks_progress {
position: relative;
text-align: center;
bottom: 0.85vw;
color: #1e1e1e;
visibility: hidden;
}

h1 {
font-size: 2.5vw;
font-family: 'Monaco';
color: #ff4747;
position: fixed;
left: 43vw;
bottom: 45%;
}

h3 {
color: #FF5677;
font-size: 1.2vw;
}

p {
font-size: 0.85vw;
color: #B958A5;
}

small {
font-size: 0.85vw;
font-family: 'Monaco';
color: #9a9a9c;
position: relative;
}

button {
background-color: rgb(139, 135, 135);
}

body {
background-color: #1e1e1e;
font-family: 'Monaco';
}

marquee {
background-color: #1e1e1e;
color: #FF5677;
position: relative;
width: 21.5vw;
font-size: 1vw;
font-family: 'Times New Roman', serif;
}
